.newsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    align-items: stretch;
    justify-content: space-around;
    margin: 8px;
}

.operations {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.meta, .more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.meta a {
    text-decoration: none;
}

.more a {
    text-decoration: none;
}

.loadMore {
    width: 100%;
    text-align: center;
}

.newsItem {
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 0 4px 0 grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moreBtn {
    border-radius: 4px;
    padding: 4px;
    border: none;
    background-color: var(--primary);
    transition: all 500ms ease-in-out;
    color: white;
    cursor: pointer;
}

.moreBtn:hover {
    box-shadow: 0 0 4px 0 var(--primary);
}

.modalBase {
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    min-width: 40%;
    max-width: 95%;
    min-height: 60%;
    max-height: 90%;
    background-color: white;
    border-radius: 8px;
    padding: 0px 8px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detailMeta {
    position: sticky;
    background-color: white;
    top: 0;
}

.detailTitle {
    font-size: larger;
    font-weight: bold;
}

.commentItem {
    border-top: solid 2px var(--primary);
    margin-top: 8px;
}

@media screen and (max-width: 1024px) {
    .newsList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 960px) {
    .newsList {
        grid-template-columns: 1fr;
    }
}
